@font-face {
  font-style: 30px;
  font-family: Lato;
  src: local(lato) url(../fonts/Lato-Bold.woff2) format(woff2), url(../fonts/Lato-Bold.woff) format(woff);
  font-weight: bold; }

@font-face {
  font-style: 16px;
  font-family: Lato;
  src: local(lato) url(../fonts/Lato-Regular.woff2) format(woff2) url(../fonts/Lato-Regular.woff) format(woff);
  font-weight: normal; }

body {
  background: #F4F6F9;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0; }

.sport_app--logo {
  text-align: center;
  margin-block-start: 30px;
  margin-block-end: 50px; }

@media (min-width: 1000px) {
  .sport_app__header {
    background: #F4F6F9 url(../img/bg_header_large.png);
    background-repeat: no-repeat;
    background-position-x: 39vw;
    background-position-y: 100%;
    padding-block-end: 80px; }
  .sport_app--logo {
    position: absolute;
    left: calc(50% - 557px); }
  .sport_app__heading {
    margin: 0; } }

.sport_app__content {
  padding-block-start: 183px;
  padding-block-end: 50px; }

@media (min-width: 1000px) {
  .sport_app__content {
    max-width: 1114px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    display: flex;
    flex-direction: column; }
  .sport_app__content__heading {
    text-align: start;
    max-width: 500px; }
  .sport_app__content__description {
    max-width: 500px;
    text-align: start; } }

.sport_app__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-block-start: 50px;
  margin-block-end: 59px; }

.sport_app__item,
.sport_app__article__items,
.sport_app__footer__items--media,
.sport_app__footer__items--sug,
.sport_app__items--icons {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

.sport_app__article__list,
.sport_app__footer__list--sug,
.sport_app__footer__list--media,
.sport_app__list--icon {
  padding: 0; }

.sport_app__article__items {
  padding-block-end: 50px; }

.sport_app__article__items__svg {
  padding-block-end: 0; }

.sport_app__footer__items--media {
  display: inline-block;
  margin-inline-end: 16px; }

.sport_app__link--icons {
  text-decoration: none; }

.sport_app__footer__list--sug {
  display: grid;
  grid-template-columns: repeat(4, 1fr); }

.sport_app__link--icons {
  display: block;
  text-indent: -9999px;
  padding: 18px; }

.sport_app__items--icons {
  width: 230px; }

.sport_app__list--icon--sky {
  display: flex;
  justify-content: center; }

.sport_app__items--icons--tv {
  background-image: url(../img/logo_sports_tv.svg);
  background-repeat: no-repeat;
  background-position: left top; }

.sport_app__items--icons--sport {
  background-image: url(../img/logo_sports_channel.svg);
  background-repeat: no-repeat;
  background-position: right top; }

.sport_app__items--icons--nbc {
  background-image: url(../img/logo_nbc_sports.svg);
  background-repeat: no-repeat;
  background-position: left top 35%; }

.sport_app__items--icons--designer {
  background-image: url(../img/logo_designer_technology.svg);
  background-repeat: no-repeat;
  background-position: center top 35%; }

.sport_app__items--icons--dn {
  background-image: url(../img/logo_designer_news.svg);
  background-repeat: no-repeat;
  background-position: right top 35%; }

.sport_app__items-icons--sky {
  background-image: url(../img/logo_sky_sports.svg);
  background-repeat: no-repeat;
  background-position: center bottom 80%; }

.sport_app__list--icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

@media (min-width: 1000px) {
  .sport_app__list {
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: start; }
  .sport_app__item:first-child {
    margin-inline-end: 16px; }
  .sport_app__footer__list--media {
    order: 3; }
  .sport_app__footer__list--sug {
    order: 2; } }

.sport_app__article {
  max-width: 1114px;
  margin-inline-start: auto;
  margin-inline-end: auto; }

.sport_app__article--featured {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.sport_app__main__header {
  background-color: #FFFFFF;
  background-image: url(../img/bg_friendly_user_interface.png);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: calc(100% + 652px);
  background-size: 2000px;
  max-width: 100%;
  padding-block-end: 652px; }

.sport_app__main--desc--anch {
  padding-block-start: calc(44px - 19px);
  padding-block-end: 42.61px; }

.sport_app__main__link {
  text-transform: uppercase; }

.sport_app__main__link,
.sport_app__main--desc--link {
  font-family: Lato;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #00ADEE;
  text-decoration: none; }

.sport_app__content__heading,
.sport_app__heading3 {
  font-family: Lato;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #333333;
  margin-block-start: 57px;
  margin-block-end: 43px; }

.sport_app__heading3--featured {
  padding-inline-start: 40px; }

.sport_app__content__description,
.sport_app__main--desc {
  font-family: Lato;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #4F4F4F; }

.sport_app__footer {
  background-color: #00ADEE;
  text-align: start;
  padding-inline-start: 0; }

.sport_app__footer__items--sug--link {
  text-decoration: none;
  font-family: Lato;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF; }

@media (min-width: 1000px) {
  .sport_app__footer {
    text-align: center; }
  .sport_app__footer--container {
    max-width: 1114px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between; } }
