@charset "UTF-8";
@font-face {
  font-size: 30px;
  font-family: Lato;
  src: local(lato) url(../fonts/Lato-Bold.woff2) format(woff2), url(../fonts/Lato-Bold.woff) format(woff);
  font-weight: bold; }

@font-face {
  font-size: 16px;
  font-style: normal;
  font-family: Lato;
  src: local(lato) url(../fonts/Lato-Regular.woff2) format(woff2) url(../fonts/Lato-Regular.woff) format(woff);
  font-weight: bold; }

body {
  background: #F4F6F9;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0; }

.sport_app--logo {
  text-align: center;
  margin-block-start: 30px;
  margin-block-end: 50px; }

@media (min-width: 1000px) {
  .sport_app__header {
    background: #F4F6F9 url(../img/bg_header_large.png);
    background-repeat: no-repeat;
    background-position-x: 39vw;
    background-position-y: 100%; }
  .sport_app--logo {
    position: absolute;
    left: calc(50% - 557px); }
  .sport_app__heading {
    margin: 0; } }

.sport_app__content {
  padding-block-start: 183px;
  padding-block-end: 50px; }

@media (min-width: 1000px) {
  .sport_app__content {
    max-width: 1114px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    display: flex;
    flex-direction: column; } }

.sport_app__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-block-start: 50px;
  margin-block-end: 59px; }

.sport_app__item,
.sport_app__article__items,
.sport_app__footer__items--media,
.sport_app__footer__items--sug,
.sport_app__items--icons {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

.sport_app__article__list,
.sport_app__footer__list--sug,
.sport_app__footer__list--media,
.sport_app__list--icon {
  padding: 0; }

.sport_app__article__items {
  padding-block-end: 50px; }

.sport_app__article__items__svg {
  padding-block-end: 0; }

.sport_app__footer__items--media {
  display: inline-block;
  margin-inline-end: 16px; }

.sport_app__link--icons {
  display: block;
  text-indent: -9999px;
  min-height: 58px;
  margin: 0;
  text-decoration: none; }

.sport_app__list--icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap; }

.sport_app__items--icons--tv {
  flex-basis: 50%; }

.sport_app__items--icons--sport {
  flex-basis: 50%; }

.sport_app__items--icons--nbc {
  flex-basis: 30%; }

.sport_app__items--icons--designer {
  flex-basis: 40%; }

.sport_app__items--icons--dn {
  flex-basis: 30%; }

.sport_app__items-icons--sky {
  flex-basis: 100%; }

.sport_app__link--icons--tv {
  background-image: url(../img/logo_sports_tv.svg);
  background-repeat: no-repeat;
  background-position: 50%; }

.sport_app__link--icons--sports {
  background-image: url(../img/logo_sports_channel.svg);
  background-repeat: no-repeat;
  background-position: 50%; }

.sport_app__link--icons--nbc {
  background-image: url(../img/logo_nbc_sports.svg);
  background-repeat: no-repeat;
  background-position: 50%; }

.sport_app__link--icons--designer {
  background-image: url(../img/logo_designer_technology.svg);
  background-repeat: no-repeat;
  background-position: 50%; }

.sport_app__link--icons--dn {
  background-image: url(../img/logo_designer_news.svg);
  background-repeat: no-repeat;
  background-position: 50%; }

.sport_app__link--icons--sky {
  background-image: url(../img/logo_sky_sports.svg);
  background-repeat: no-repeat;
  background-position: 50%; }

.sport_app__footer__list--sug {
  display: grid;
  grid-template-columns: repeat(4, 1fr); }

@media (min-width: 1000px) {
  .sport_app__list__nav--icon {
    display: flex;
    justify-content: space-between; }
  .sport_app__list {
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: start; }
  .sport_app__items--icons--tv {
    flex-basis: unset; }
  .sport_app__items--icons--sport {
    flex-basis: unset; }
  .sport_app__items--icons--nbc {
    flex-basis: unset; }
  .sport_app__items--icons--designer {
    flex-basis: unset; }
  .sport_app__items--icons--dn {
    flex-basis: unset; }
  .sport_app__items-icons--sky {
    flex-basis: unset; }
  .sport_app__link--icons {
    width: 180px; }
  .sport_app__link--icons--sky {
    width: 200px; }
  .sport_app__item:first-child {
    margin-inline-end: 16px; }
  .sport_app__footer__list--media {
    order: 3; }
  .sport_app__footer__list--sug {
    order: 2; } }

.sport_app__article {
  max-width: 1114px;
  margin-inline-start: auto;
  margin-inline-end: auto; }

.sport_app__article--featured {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

@media (min-width: 1000px) {
  .sport_app__article--featured {
    background-color: #00ADEE; }
  ul > li > svg path {
    fill: #F4F6F9;
    text-align: left; }
  .sport_app__article__list--featured {
    max-width: 1114px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    column-gap: 90px;
    text-align: start; } }

.sport_app__main__header {
  background-color: #FFFFFF;
  background-image: url(../img/bg_friendly_user_interface.png);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: calc(100% + 652px);
  background-size: 2000px;
  max-width: 100%;
  padding-block-end: 652px; }

.sport_app__main--desc--anch {
  padding-block-start: calc(44px - 19px);
  padding-block-end: 42.61px; }

@media (min-width: 1000px) {
  .sport_app__main__header {
    background-image: url(../img/bg_friendly_user_interface.png);
    background-repeat: no-repeat;
    background-position-x: calc(50% + 240px);
    background-position-y: 50%;
    background-size: 2000px;
    padding-block-end: 0;
    max-width: 100%; }
  .sport_app__article--desc {
    padding-block-end: 171px; } }

.sport_app__main__link {
  text-transform: uppercase; }

.sport_app__main__link,
.sport_app__main--desc--link {
  font-family: Lato;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #00ADEE;
  text-decoration: none; }

.sport_app__content__heading,
.sport_app__heading3 {
  font-family: Lato;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #333333;
  margin-block-start: 57px;
  margin-block-end: 43px; }

.sport_app__heading3--featured {
  padding-inline-start: 40px; }

.sport_app__content__description,
.sport_app__main--desc,
.sport_app__main__desc--featured {
  font-family: Lato;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #4F4F4F; }

@media (min-width: 1000px) {
  .sport_app__main__heading2 {
    padding-block-start: 270px; }
  .sport_app__main--desc {
    max-width: 480px;
    text-align: left; } }

@media (min-width: 1000px) {
  .sport_app__content__heading,
  .sport_app__content__description {
    text-align: start;
    width: 480px; }
  .sport_app__main__desc--featured::before {
    content: ' • ';
    color: #F4F6F9; }
  .sport_app__main__desc--featured {
    color: #F4F6F9;
    text-align: left; }
  .sport_app__heading3--featured {
    color: #F4F6F9; } }

.sport_app__footer {
  background-color: #00ADEE;
  text-align: start;
  padding-inline-start: 0; }

.sport_app__footer__items--sug--link {
  text-decoration: none;
  font-family: Lato;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF; }

.sport_app__footer__items--media {
  width: 20px; }

.sport_app__footer__links--media {
  display: block;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-size: contain; }

.sport_app__footer__links--media--facebook {
  background-image: url("../img/icon_facebook.svg"); }

.sport_app__footer__links--media--facebook:hover,
.sport_app__footer__links--media--facebook:focus {
  background-image: url("../img/circle-facebook.svg"); }

.sport_app__footer__links--media--instagram {
  background-image: url("../img/icon_instagram.svg"); }

.sport_app__footer__links--media--instagram:hover,
.sport_app__footer__links--media--instagram:focus {
  background-image: url("../img/circle-instagram.svg"); }

.sport_app__footer__links--media--twitter {
  background-image: url("../img/icon_twitter.svg"); }

.sport_app__footer__links--media--twitter:hover,
.sport_app__footer__links--media--twitter:focus {
  background-image: url("../img/twitter_circle.svg"); }

@media (min-width: 1000px) {
  .sport_app__footer {
    text-align: center; }
  .sport_app__footer--container {
    max-width: 1114px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between; } }
