
.sport_app__main {
  padding-block-start: 183px;
  padding-block-end: 50px;
}
.sport_app__main__heading {
  font-family: Lato;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #333333;
}

.sport_app__main__description {
  font-family: Lato;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #4F4F4F;
}

@media (min-width: 1000px) {
  .sport_app__main {
    max-width: 1114px;
    /* margin-inline-start: auto;
    margin-inline-end: auto; */
    display: flex;
    flex-direction: column;
    background: #F4F6F9 url(../img/resized-bg_header.png);
    background-repeat: no-repeat;
    background-position-x: calc(50vw - 11px);
    background-position-y: 60%;
    background-size: 700px;
  }

  .sport_app__main__heading {
    text-align: start;
    max-width: 500px;
  }

  .sport_app__main__description {
    max-width: 500px;
    text-align: start;
  }
}
