.sport_app__header {
  text-align: center;
  margin-block-start: 30px;
}

@media (min-width: 1000px) {
  .sport_app__header {
    text-align: start;
    /* margin-block-start: 63px;
    margin-block-end: 63px; */
  }
}
