
  @font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Bold.woff);
    font-weight: bold;
  }
  @font-face {
    font-family: myDescriptionFont;
    src: url(../fonts/Lato-Regular.woff);
    font-weight: normal;
  }

  .sport__app {
    background: #F4F6F9;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .sport__app__header {
    margin-inline-start: auto;
    margin-inline-end: auto;
    margin-block-start: 30px;
}

  .sport__app__main__heading {
    font-family: Lato;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #333333;
}

  .sport__app__main__description {
    font-family: myDescriptionFont;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: #4F4F4F;
}

.sport__app__footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-block-start: 50px;
  margin-block-end: 59px;
}

.sport__app--logo--goggle {
  margin-inline-start: 16px;
}

@media (min-width: 1000px) {
  .sport__app {
    width: 100%;
    background: #F4F6F9 url(../img/bg_header.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
    background-size: contain;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-inline-start: 163px;
  }
  .sport__app__header {
    margin-block-start: 63px;
    margin-block-end: 133px;
    margin-inline-start: 0;
    margin-inline-end: 0;
  }
  .sport__app__main {
    grid-column: 1 / 2;
    /* margin-inline-start: -18px; */
    display: flex;
    flex-direction: column;
  }
  .sport__app__footer {
    width: 100%;
    grid-column: 1 / 2;
    display: block;

  }

}

