.sport_app__main__header {
  background-color: #FFFFFF;
  background-image: url(../img/bg_friendly_user_interface.png);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: calc(100% + 652px);
  background-size: 2000px;
  max-width: 100%;
  padding-block-end: 652px;
}

.sport_app__main--desc--anch {
  padding-block-start: calc(44px - 19px);
  padding-block-end: 42.61px;
}

@media (min-width: 1000px) {

  .sport_app__main__header {
    background-image: url(../img/bg_friendly_user_interface.png);
    background-repeat: no-repeat;
    background-position-x: calc(50% + 240px);
    background-position-y: 50%;
    background-size: 2000px;
    padding-block-end: 0;
    max-width: 100%;
    display: flex;
    flex-direction: row;
  }

  .sport_app__article--desc {
    max-width: 557px;
    order: 1;
  }

}

