.sport_app__main__header {
  background-color: #FFFFFF;
  background-image: url(../img/bg_friendly_user_interface.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 100px;
  background-size: 600px;
  max-width: 100%;
  height: 600px;
  margin-block-end: 32px;
}
