.sport_app__main__header {
  background-color: #FFFFFF;
  background-image: url(../img/bg_friendly_user_interface.png);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: calc(100% + 652px);
  background-size: 2000px;
  max-width: 100%;
  padding-block-end: 652px;
}

.sport_app__main--desc--anch {
  padding-block-start: calc(44px - 19px);
  padding-block-end: 42.61px;
}
