@import "variables";

.sport_app__content {
  padding-block-start: 183px;
  padding-block-end: 50px;
}

@media (min-width: 1000px) {
  .sport_app__content {
    @include max-width-container;
    display: flex;
    flex-direction: column;
  }

  .sport_app__content__heading {
    text-align: start;
    max-width: 500px;
  }

  .sport_app__content__description {
    max-width: 500px;
    text-align: start;
  }
}
