@import "variables";

.sport_app__content {
  padding-block-start: 183px;
  padding-block-end: 50px;
}

.sport_app__content__heading {
  font-family: Lato;
  font-size: 30px;
  line-height: 40px;
  text-align: $centered-align;
  letter-spacing: 0.03em;
  color: $heading2-color;
}

.sport_app__content__description {
  font-family: Lato;
  font-size: 16px;
  line-height: 23px;
  text-align: $centered-align;
  color: $paragraph-color;
}

@media (min-width: 1000px) {
  .sport_app__content {
    @include max-width-container;
    display: flex;
    flex-direction: column;
    background: #F4F6F9 url(../img/resized-bg_header.png);
    background-repeat: no-repeat;
    background-position-x: 460px;
    background-position-y: 160%;
    background-size: 70%;
  }

  .sport_app__content__heading {
    text-align: start;
    max-width: 500px;
  }

  .sport_app__content__description {
    max-width: 500px;
    text-align: start;
  }
}
