@import "variables";


.sport_app__main__link {
  text-transform: uppercase;
}

.sport_app__main__link,
.sport_app__main--desc--link {
  @include heading-color-blue;
  text-decoration: $text-decoration;
}

.sport_app__content__heading,
.sport_app__heading3 {
  @include heading-font;
  margin-block-start: 57px;
  margin-block-end: 43px;
}

.sport_app__heading3--featured {
  padding-inline-start: 40px;
}

.sport_app__content__description,
.sport_app__main--desc,
.sport_app__main__desc--featured {
  @include paragragh-font;
}

@media (min-width: 1000px) {
  .sport_app__main__heading2 {
    padding-block-start: 270px;
  }

  .sport_app__main--desc {
    max-width: 480px;
    text-align: left;
  }
}


@media (min-width: 1000px){
  .sport_app__content__heading,
  .sport_app__content__description {
    text-align: start;
    width: 480px;
  }

  .sport_app__main__desc--featured::before {
    content: ' • ';
    color:  $background-color;
  }

  .sport_app__main__desc--featured {
    color:  $background-color;
    text-align: left;
  }

  .sport_app__heading3--featured {
    color:  $background-color;
  }

}
