.sport_app--logo {
  text-align: $centered-align;
  margin-block-start: 30px;
  margin-block-end: 50px;
}


@media (min-width: 1000px) {
  .sport_app__header {
    background: #F4F6F9 url(../img/resized-bg_header.png);
    background-repeat: no-repeat;
    background-position-x: 550px;
    background-position-y: -171px;
    background-size: 70%;
    padding-block-end: 250px;
  }

  .sport_app--logo {
    position: absolute;
    left: calc(50% - 557px);
  }

  .sport_app__heading {
    margin: 0;
  }

}
