.sport_app__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-block-start: 50px;
  margin-block-end: 59px;
}

.sport_app__item {
  list-style: none;
}

@media(min-width: 1000px) {
  .sport_app__list {
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: start;
  }

  .sport_app__item:first-child {
    margin-inline-end: 16px;
  }
}
