
@import "variables";

.sport_app__list {
  display: flex;
  flex-direction: row;
  justify-content: $centered-align;
  margin-block-start: 50px;
  margin-block-end: 59px;
}

.sport_app__item,
.sport_app__article__items,
.sport_app__footer__items--media,
.sport_app__footer__items--sug {
  @include reset-list;
}

@media(min-width: 1000px) {
  .sport_app__list {
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: start;
  }

  .sport_app__item:first-child {
    margin-inline-end: 16px;
  }
}
