@import "variables";

.sport_app__footer {
  background-color: $color-blue;
  text-align: start;
  padding-inline-start: 0;
}

.sport_app__footer__items--sug--link {
  text-decoration: $text-decoration;
  font-family: Lato;
  font-size: 16px;
  line-height: 21px;
  color: $color-white;
}

@media (min-width: 1000px) {
  .sport_app__footer {
    text-align: center;
  }

  .sport_app__footer--container {
    @include max-width-container;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

}
