@import "variables";

.sport_app__content {
  padding-block-start: 183px;
  padding-block-end: 50px;
}

@media (min-width: 1000px) {
  .sport_app__content {
    @include max-width-container;
    display: flex;
    flex-direction: column;
  }
}
