@import "variables";


.sport_app__article {
  @include  max-width-container;
}


.sport_app__article--featured {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 1000px) {
  .sport_app__article--featured {
    background-color: $color-blue;
  }

  ul > li> svg path {
    fill: $background-color;
    text-align: left;
  }

  .sport_app__article__list--featured {
    @include max-width-container;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    column-gap: 90px;
    text-align: start;
  }
}


