@font-face {
  font-style: 30px;
  font-family: Lato;
  src: local(lato) url(../fonts/Lato-Bold.woff2) format(woff2), url(../fonts/Lato-Bold.woff) format(woff);
  font-weight: bold; }

@font-face {
  font-style: 16px;
  font-family: Lato;
  src: local(lato) url(../fonts/Lato-Regular.woff2) format(woff2) url(../fonts/Lato-Regular.woff) format(woff);
  font-weight: normal; }

body {
  background: #F4F6F9;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0; }

.sport_app--logo {
  text-align: center;
  margin-block-start: 30px;
  margin-block-end: 50px; }

@media (min-width: 1000px) {
  .sport_app__header {
    background: #F4F6F9 url(../img/bg_header_large.png);
    background-repeat: no-repeat;
    background-position-x: 39vw;
    background-position-y: 100%;
    padding-block-end: 80px; }
  .sport_app--logo {
    position: absolute;
    left: calc(50% - 557px); }
  .sport_app__heading {
    margin: 0; } }

.sport_app__content {
  padding-block-start: 183px;
  padding-block-end: 50px; }

@media (min-width: 1000px) {
  .sport_app__content {
    max-width: 1114px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    display: flex;
    flex-direction: column; }
  .sport_app__content__heading {
    text-align: start;
    max-width: 500px; }
  .sport_app__content__description {
    max-width: 500px;
    text-align: start; } }

.sport_app__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-block-start: 50px;
  margin-block-end: 59px; }

.sport_app__item,
.sport_app__article__items,
.sport_app__footer__items--media,
.sport_app__footer__items--sug {
  margin: 0;
  padding: 0;
  list-style: none; }

@media (min-width: 1000px) {
  .sport_app__list {
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: start; }
  .sport_app__item:first-child {
    margin-inline-end: 16px; } }

.sport_app__article {
  max-width: 1114px;
  margin-inline-start: auto;
  margin-inline-end: auto; }

.sport_app__main__header {
  background-color: #FFFFFF;
  background-image: url(../img/bg_friendly_user_interface.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 100px;
  background-size: 600px;
  max-width: 100%;
  height: 600px;
  margin-block-end: 32px; }

.sport_app__main__link {
  text-transform: uppercase; }

.sport_app__main__link,
.sport_app__main--desc--link {
  font-family: Lato;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #00ADEE;
  text-decoration: none; }

.sport_app__content__heading,
.sport_app__heading3 {
  font-family: Lato;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #333333; }

.sport_app__content__description,
.sport_app__main--desc {
  font-family: Lato;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #4F4F4F; }

.sport_app__footer {
  background-color: #00ADEE; }
