.sport_app__main__heading {
  font-family: Lato;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #333333;
}

.sport_app__main__description {
  font-family: Lato;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #4F4F4F;
}

@media (min-width: 1000px) {
  .sport_app__main {
    max-width: 90%;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
  }

  .sport_app__main__heading {
    text-align: start;
  }

  .sport_app__main__description {
    margin-inline-end: 176px;
    text-align: start;
  }
}
